@import "{{ site.theme }}";
header a.button small {
    color: black !important;
}

table {
    border : 0px #000000 !important
}

ul {
    list-style-type:none !important;
    list-style:none !important
}
